/*********************************************************
 * ORIGINAL THEME CREDITS: 
 * Company: Unity Technologies
 * Author:  Rickard Andersson, rickard@unity3d.com
 * DARK THEME CREDITS:
 * Author: Kamran Mackey <kamranm1200@gmail.com>
 * Version: 1.0 (Helium)
 * Last update: December 16, 2018
*********************************************************/

/**********************************
*
* GENERAL UNITY SITE CSS
*
**********************************/

body {
	background: #2b2b2b;
	color: #fff;
}

h1, h2, h3, h4, h5 {
	color: #fff;
}

.expand, .expand:hover, .expand:active, .expand:focus {
	color: #fff;
}

div.crumbs ul li {
	color: #d9d9d9;
}

.lessons-list ol li.current {
	color: #dfdfdf;
}

.lessons-list ol li a {
	color: #aeaeae;
}

.bl {
	border-left-color: #424242;
}

header.main-header {
	background: transparent;
}

div.main-navigation:before {
	background: #2b2b2b;
}

nav.sub-nav:before, nav.sub-nav:after {
	background: rgba(145, 145, 145, 0.1);
}

div.block {
	background: #2b2b2b;
}

ul li:before {
	color: #fff;
}

div.block-footer {
	width: 100%;
	background: #2b2b2b;
	padding: 30px 30px 20px 30px;
	border-top: #2b2b2b 1px solid;
}

.main-navigation .menu .expanded .menu {
	background: rgba(123, 123, 123, 0.9);
}

/** Force the white Unity logo to appear on all pages **/
header.main-header a.unity-logo {
	background-image: url('https://unity3d.com/profiles/unity3d/themes/unity/images/ui/ui/unity-logo-white.svg');
}

::placeholder {
	color: #c8c8c8;
}

/**********************************
 *
 * UNITY BETA PROGRAM
 *
***********************************/

nav.tertiary-nav {
    background: #2b2b2b;
}

nav.tertiary-nav div.wrap ul.tabbed li a {
	color: #fff;
}

nav.tertiary-nav div.wrap ul.tabbed li {
	border-right-color: #424242;
}

nav.tertiary-nav div.wrap ul.tabbed li:first-child {
	border-left-color: #424242;
}

/**********************************
 *
 * UNITY PRODUCT PAGE SPECIFIC CSS
 *
**********************************/

.bb {
	border-bottom-color: #919191;
}

.bt {
	border-top-color: #919191;
}

.products-grid--right {
	border-left-color: #919191;
}

.products-grid--item {
	border-right-color: #919191;
	border-bottom-color: #919191;
}

/******************************
 *
 * UNITY PUBLIC RELATIONS CSS
 *
*******************************/
.bg-mg {
	background-color: #2b2b2b !important;
}

.growth-card {
	background-color: #424242;
}

.growth-card h3,
.growth-card h4 {
	color: #f2f2f2;
}


/******************************
 *
 * UNITY ID SPECIFIC CSS
 *
******************************/
header.main-header a.app-name, header.main-header a.app-name:hover {
	color: #fff;
}

div.sidebar-navigation ul li a {
	color: #fff;
}

div.sidebar-navigation ul li ul {
	background: #424242;
}

div.sidebar-navigation ul li ul:before {
	border-bottom-color: #424242;
}

.action-ico:before {
	color: #fff;
}

.bg-lg {
	background-color: #2b2b2b !important;
}

.no-touch div.item-list .item:hover:before {
	-webkit-box-shadow: 0 0 0 4px #424242;
	-moz-box-shadow: 0 0 0 4px #424242;
	box-shadow: 0 0 0 4px #424242;
}

div.block-header {
	border-bottom: #424242 1px solid;
	background: #2b2b2b !important;
}

div.item-list .item div.lbl {
	color: #fff;
}

div.item-list .item {
	background: #2b2b2b !important;
}

/** Authentication borders **/
.authentication p.or:before, .authentication p.or:after,
.authentication .line {
	background-color: #545353;
}

div.form-field-helper {
	background: #919191;
	border-bottom: #2196f3 5px solid;
}

/*****************************
*
* UNITY STORE SPECIFIC CSS
*
*****************************/
div.header-panel {
	background: #2b2b2b;
}

/* Use the white version of the Unity avatar image
 * for better visibility.
 */
div.user-panel img.avatar {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/** This is very hacky as this URL could change at any time **/
	background: url(https://store.unity.com/themes/contrib/unity_base/images/icons/other/user-default-light128x128.png) no-repeat;
	width: 128px;
	height: 128px;
	padding-left: 128px;
	margin: 0 auto 20px auto;
	border-radius: 50%;
}

.c-db {
	color: #fff;
}

.c-dg {
	color: #b5b5b5 !important;
}

.products .sticky-nav {
	background-color: #2b2b2b;
}

.products .sticky-nav li.logo,
.products .sticky-nav li a,
.section-selector h1,
.products .section-leading-unit a,
.products .section-copy-block h2,
.products .section-copy-block h3,
.products .section-copy-block ul li,
.section-plans .plans-callout h4,
.section-faq .section-subheadline,
.section-faq .question-wrapper p,
.section-faq .question-wrapper span,
.section-plans .product-tagline, .result .product-tagline,
.section-plans .container-cards .section-headline-links,
.section-plans .caption-copy, .result .caption-copy,
.section-plans .price-container .prices, .result .price-container .prices,
.section-plans .cards-bottom-list .li-headline, .result .cards-bottom-list .li-headline .section-plans .cards-bottom-list li, .result .cards-bottom-list li,
.section-plans .cards-bottom-list li, .result .cards-bottom-list li,
.section-plans .cards-bottom-list li::before, .result .cards-bottom-list li::before,
.section-plans .show-benefits p,
.section-plans .eligibility p {
	color: #fff;
}

.products .sticky-nav li a:hover {
	color: #26c6da;
}

.products .section-leading-unit--cards__card {
	box-shadow: 0 0 25px #1f2022
}
.products .section-leading-unit--cards__card:hover {
	box-shadow: 0 0 35px #17181a;
}

.products .section-testimonial .block-quote,
.products .section-testimonial .block-quote-flex {
	background-color: #2b2b2b;
}

.section-faq.front-page-faq,
.section-faq .container-faq,
.products .section-faq.other {
	background-color: #2b2b2b;
}

.section-plans .product-info-pro small, .result .product-info-pro small {
	color: #fff;
}

.section-plans .product-info-pro, .result .product-info-pro {
	background: #2b2b2b;
	border: 2px solid #808080;
	width: 100%;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 25px;
}

div.store-footer:before,
.store-footer,
.store-footer p {
	color: #fff;
	background-color: #2b2b2b;
}

.products.unity-products p {
	color: #fff;
}

.section-plans .card-unity-personal .plan-benefits {
	border: #808080 1px solid;
	background-color: #2b2b2b;
}

.products .section-benefits,
.section-faq .container-resources,
.products .section-faq,
.products .section-faq .question-wrapper p,
.products .section-faq .question-wrapper span {
	color: #fff;
	background-color: #2b2b2b;
}

.section-plans .container-cards .duration, .result .container-cards .duration {
	color: #808080;
}

.section-plans .cards, .result .cards {
	background-color: #2b2b2b;
	box-shadow: 0 0 25px #1a1b1c;
}

.section-industries {
	background: #2b2b2b;
}

.section-industries h2 {
	color: #fff;
}

/******************************
 *
 * UNITY STORE PREMIUM SUPPORT
 *
******************************/
div.gradient-diamond {
	border-right-color: #2b2b2b;
	border-left-color: #2b2b2b;
	border-bottom-color: #2b2b2b;
}

div.gradient-diamond:before, div.gradient-diamond:after {
	background: #2b2b2b;
}

.bg-db {
	background-color: #2b2b2b;
}

/******************************
 *
 * UNITY STORE COMPARE PLANS
 *
******************************/
.page__title,
.page__subtitle {
	color: #fff;
}

.compare-plans-table__cell {
	border: #808080 1px solid;
}

.compare-plans-table__cell--is-sticky::before {
	border-color: #808080;
}

.compare-plans-table__cell--is-sticky {
	background: #2b2b2b;
}

.compare-plans-table__text {
	color: #eeecec;
}

.plan__target-audience,
.plan__title,
.plan__price,
.plan__text {
	color: #fff;
}

/**********************************
 *
 * UNITY BLOG SPECIFIC CSS
 *
**********************************/

div.large p, div.medium p, div.list-post p {
	color: #f2f2f2;
}

div.popular-posts div.list-post-img {
    background: linear-gradient(to bottom, #47aece, #5cd2f4);
}

.medium-content {
    background: linear-gradient(to bottom, rgba(66, 66, 66, 0.9), rgba(66, 66, 66, 1) 60%);
}

div.paging ul li .current {
	color: #f2f2f2;
}

div.paging ul li a {
	color: #cacaca;
}

div.paging ul li a:hover {
	color: #f2f2f2;
}

.post-heading {
	color: #f2f2f2 !important;
}

.post-heading a:visited {
	color: #dbdbdb !important;
}

.bt {
	border-top-color: #424242;
}

.bb {
	border-bottom-color: #424242;
}

.slick-dots li button:hover, .slick-dots li button:focus, .slick-dots li.slick-active button, .slick-dots li.slick-active button {
	background: #47b2bd;
	border-color: #47b2bd;
}

.slick-prev, .slick-next {
	border-color: #47b2bd;
}

.slick-prev:before, .slick-next:before {
	color: #47b2bd;
}

.list-post-author, .post-author {
	color: #f2f2f2;
}

.sidebar-column .categories .category .name {
	border-left-color: #424242;
	color: #f2f2f2;
}

a.category-tag {
    border: 1px solid #d6d6d6 !important;
    color: #f2f2f2 !important;
}

.bg-ye.light {
    background-color: #2b2b2b !important;
}

.post-heading a {
	color: #f2f2f2 !important;
}

.post-author a {
	color: #f2f2f2;
}

div.post-full p, div.post-full div.content table td {
    color: #f2f2f2;
}

/** Comments **/
.comments ol li ol .byuser > div.comment:first-child {
    background: #388b94;
}

/**********************************
 *
 * UNITY DEVELOPER SPECIFIC CSS
 *
**********************************/
md-card {
	background-color: rgba(43, 43, 43, 1)
}

/* .project-header .project-headline {
	color: rgba(255, 255, 255, .7);
} */
md-button {
	color: rgba(255, 255, 255, 0.7);
}

md-icon {
	color: rgba(255, 255, 255, 0.7);
}

md-select .md-select-icon {
	color: rgba(255, 255, 255, 0.7)
}

md-select.md-default-theme .md-select-value.md-select-placeholder, md-select .md-select-value.md-select-placeholder {
	color: rgba(255, 255, 255, 0.7);
}

/******************************
 *
 * UNITY DOCUMENTATION CSS
 *
*******************************/

.otherversionscontent {
	background-color: #424242;
}

.otherversionscontent a {
	color: #fff;
}

.nextprev {
	background: #424242;
}

div.sidebar-menu ul li a {
	color: #dfdfdf;
}

div.lang-switcher div.current div.arrow {
	filter: invert(100%);
}

div.search-results h2 {
	border-bottom-color: #424242;
}

div.sidebar-menu ul li a:hover {
	color: #ececec;
}

div.sidebar-menu ul li a.current {
	background: transparent;
	color: #fff;
}

div.sidebar-menu ul li div.collapsed {
	background-color: #424242;
	border: #424242 1px solid;
}

div.sidebar-menu ul li div.arrow {
	background-color: #2b2b2b;
	border: #2b2b2b 1px solid;
}

div.sidebar-menu ul li div.leafnode {
	background-color: #2b2b2b;
	filter: grayscale(100%);
	border: #2b2b2b 1px solid;
}

div.header {
	background: #2b2b2b;
}

div.toolbar {
	background: #2b2b2b;
}

div.frontpage-section h3 a {
	color: #fff;
}

pre {
	border-color: #636363;
}

pre,
.feedbackbox {
	background-color: #424242;
}

div.header div.search-form input.field {
	width: 400px;
	line-height: 20px;
}


div.footer div.menu a {
	text-decoration: none;
	color: #d0d0d0;
}

div.footer div.menu a:hover {
	text-decoration: underline;
	color: #fff;
}

div.footer div.copy {
	color: #d0d0d0;
}

div.frontpage-divider {
	border-bottom-color: #424242;
}

div.sidebar-menu h2 {
	border-bottom-color: #424242;
}

table.list tr:hover {
	outline: #b83c82 1px solid;
}

h1 a {
	text-decoration: underline;
	color: #d2d2d2;
}

h1 a:hover {
	text-decoration: underline;
	color: #b83c82;
}

div.obsolete-version-number {
	background: #2b2b2b;
}

.codeExampleCS {
	background: #2b2b2b;
	color: #d0d0d0;
}

table.list tr:nth-child(odd) {
	background: #424242;
}

div.footer {
	border-top-color: #424242;
}

div.sidebar-wrap {
	border-right-color: #424242;
}

/******************************
 *
 * UNITY FOOTER
 *
******************************/
footer.main-footer div.wrapper {
	background: #2b2b2b !important;
}

.front footer.main-footer p.lbl {
	color: #fff;
}

.front footer.main-footer div.wrapper a {
	text-decoration: none;
	color: #b0b0b0
}

.front footer.main-footer div.partner a {
	filter: invert(100%);
}

.front footer.main-footer div.partner a:hover {
	filter: brightness(1000%);
}

.front footer.main-footer div.wrapper a:hover {
	text-decoration: underline;
	color: #fff;
}

footer.main-footer .unity-logo {
	background-image: url('https://unity3d.com/profiles/unity3d/themes/unity/images/ui/ui/unity-logo-white.svg');
}

footer.main-footer .bb {
	border-bottom: 1px solid #434343;
}